<%- include('../partials/head.ejs') %>
<%- include('../partials/navuser.ejs') %>

<body>
    <div class="text-center p-3 position-absolute top-50 start-50 translate-middle">
        <h4>About Us</h4>
        <p>
            Somos uma empresa que trabalha com revenda de empadas e pedidos sobre encomenda.
            <br>
            Acesse nossas redes sociais e veja nosso <span><a href="/">cardápio.</a></span>
        </p>
    </div>
</body>