<nav
    class="navbar navbar-light bg-white border-bottom navbar-expand justify-content-between flex-column flex-lg-row sticky-top">
    
        <div class="navbar-top-wrap">
            <ul class="nav nav-header">
                <li class="nav-item active"><a href="/admin" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/logoutAdm" class="nav-link">Sing Out</a></li>
            </ul>
        </div>
</nav>